/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* -- starting header here -- */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1262px;
    height: 100px;
    margin: 0 auto;


}

.logo {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.logo img {
    width: 86px;
    margin-right: 1rem;
}

.logo span {
    color: #FF42A5;
}

.logo h3 {
    font-size: 2.8rem;
}

.menus ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
}

.menus ul li {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}

.menus ul li a {
    text-decoration: none;
    color: black;

}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 210px;
    height: 50px;
    padding-left: 1rem;
}

.fa-brands {
    margin-left: 1rem;
    cursor: pointer;

}

.youtube {
    color: red;
}

/* Ending header here */


/* starting banner here */
.banner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./Assets/images/Group\ 14.png");
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0 150px;
}

.banner-content h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

.banner-content-list ul li {
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.banner-btns button {
    font-size: 1.25rem;
    border-radius: 3rem;
    border: none;
    color: white;
    margin-right: 0.625rem;
    margin-top: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-btn-1 {
    padding: 21px 40px;

    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.banner-btn-2 {
    padding: 21px 40px;
    background: #4EC5F7;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* ending  banner here */


/* stating Online Games Funny Videos section*/
.Online-video-games {
    text-align: center;
    margin: 50px auto;
    width: 80%;
    /* margin-top: 50px; */
}

.primary-heading {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.primary-heading span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;

}

.primary-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.funny-videos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    text-align: left;
}

.card img {
    width: 290px;
    height: auto;
}

.img-container {
    position: relative;
    margin-bottom: 20px;
}

.img-container img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.overly-content {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-container:hover img {
    opacity: 0.3;
}

.img-container:hover .overly-content {
    opacity: 1;
}

.overly-content h4 {
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;

    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play {
    font-size: 48px;
}

/* ending Online Games Funny Videos section*/


/* starting  Play Instantly, No Downloads No Installs section*/
.Play-Instantly-No-Downloads-No-Installs .main-play-instantly-content {
    display: flex;
    width: 80%;
    margin: 70px auto;
    justify-content: space-between;
    gap: 50px;

}

.floating-img-div {

    position: relative;
    display: flex;
    justify-content: center;
    bottom: 250px;
    left: 150px;
}

.floating-img {
    width: 200px;
}

.play-instantly-content {
    padding-top: 100px;
    width: 60%;
}

.play-instantly-img {
    margin-left: 150px;

}

.play-instantly-img img {
    width: 100%;


}

.play-instantly-content h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.play-instantly-content h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-content p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* ending  Play Instantly, No Downloads No Installs section*/


/* starting game catagories section */
.games-catagories{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 0;
   
}
.games-catagories ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}
.games-catagories ul li a{
    text-decoration: none;
}
.games-catagories ul li {
    border: 2px solid #FF42A5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: #fff;
}
/* ending game catagories section */

/* starting footer section */
footer {
    text-align: center;
    background-color: #000000;
    color: white;
    height: 60%;
    padding: 120px 0 130px;
}


.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 86px;
    margin-right: 1rem;
}

.footer-logo span {
    color: #FF42A5;
}

.footer-logo h3 {
    font-size: 2.8rem;
}

.footer-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    margin: 70px 0;
    cursor: pointer;
    flex-wrap: wrap;
}

.footer-second-list,
small {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.social-icons {
    font-size: 40px;
}

/* ending footer section */


